.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error{
  color: red;
}
.select{
  min-width: 100px;
  margin: 0 10px;
}
.input{
  margin: 0 10px;
}